{{ partial "head.html" . }}

<body>
    <div class="post-password">
        {{ if ( .Params.password | default "" ) }}
        <script>
            (function(){
                var passwordInput = prompt("请输入文章密码");
                if (passwordInput == null || passwordInput === ''){
                    alert('密码不能为空！');
                    if (history.length === 1) {
                        window.opener = null;
                        window.open('', '_self');
                        window.close();
                    } else {
                        history.back();
                    }
                    return
                }

                if (passwordInput !== {{ .Params.password }}){
                    alert('密码错误！');
                    if (history.length === 1) {
                        window.opener = null;
                        window.open('', '_self');
                        window.close();
                    } else {
                        history.back();
                    }
                }
            })();
        </script>
        {{ end }}
    </div>

    <!--    文章目录        -->
    {{ if .Site.Params.toc | default false }}
    {{ partial "toc" . }}
    {{ end }}

    <!--    文章主题内容        -->
    <div class="main animate__animated animate__fadeInDown" id="main_content">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="post_page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post_title post_detail_title">
                        <h2 id="post_single_title">{{ .Title }}</h2>
                        <span id="post_page_title_date" class="date">编写于 {{ .Date.Format "2006.01.02" }}</span>
<!--                        {{ if .Site.Params.enableVisitor }}-->
<!--                        <span id="busuanzi_container_page_pv" class="m-l-10">-->
<!--                          阅读量<span id="busuanzi_value_page_pv"></span>次-->
<!--                        </span>-->
<!--                        {{ end }}-->
                    </div>
                    <div class="post_content markdown">{{ .Content }}</div>
                    <div id="post_footer" class="post_footer">
                        <div class="meta">
<!--                            标签 文章分类 -->
                            <div id="post_footer_info" class="info">
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ with .Params.tags }}
                                        {{ range . }}
                                        <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                        {{ end }}
                                    {{ else }}
                                        <a href="{{ "tags" | absURL }}/">暂无标签</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 评论系统 -->
                {{ if .Site.Params.valine.enable }}
                {{ partial "comments.html" . }}
                {{ else }}
                <div id="doc_comments" class="doc_comments">{{ template "_internal/disqus.html" . }}</div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ partial "sidenav.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "js.html" . }}
</body>

</html>