<script src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>
<link href="{{ "css/fancybox.min.css" | absURL }}" rel="stylesheet">
<script src="{{ "js/fancybox.min.js" | absURL }}"></script>
<script src="{{ "js/darkmode.js" | absURL }}"></script>
<script src="{{ "js/zozo.js" | absURL }}"></script>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="{{ "js/busuanzi_2.3_busuanzi.pure.mini.js" | absURL }}"></script>
<script src="{{ "js/html2canvas.js" | absURL }}"></script>
<script src="{{ "js/utils.js" | absURL }}"></script>
<script src="{{ "js/html2md.js" | absURL }}"></script>
<script src="{{ "js/htmlexport.js" | absURL }}"></script>
<script src="{{ "js/autodarkmode.js" | absURL }}"></script>

<!-- 启用数学公式 -->
{{ if .Site.Params.enableMathJax }}
{{ partial "mathjax.html" . }}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}



