<script src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>
<link href="{{ "css/fancybox.min.css" | absURL }}" rel="stylesheet">
<script src="{{ "js/fancybox.min.js" | absURL }}"></script>
<script src="{{ "js/darkmode.js" | absURL }}"></script>
<script src="{{ "js/zozo.js" | absURL }}"></script>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src="{{ "js/busuanzi_2.3_busuanzi.pure.mini.js" | absURL }}"></script>
<script src="{{ "js/html2canvas.js" | absURL }}"></script>
<script src="{{ "js/utils.js" | absURL }}"></script>
<script src="{{ "js/html2md.js" | absURL }}"></script>
<script src="{{ "js/htmlexport.js" | absURL }}"></script>

<script src="{{ "js/fastsearch.js" | absURL }}"></script>
<script src="{{ "js/fuse.js" | absURL }}"></script>

<!-- 夜间模式 -->
<script>
    new Darkmode({
        right: '32px', // default: '32px'
        bottom: 'unset', // default: '32px'
        // left: '32px', // default: 'unset'
        time: '0.15s', // default: '0.3s'
        mixColor: '#f7f7f7', // default: '#fff'
        backgroundColor: '#f7f7f7', // default: '#fff'
        buttonColorDark: '#212121', // default: '#100f2c'
        buttonColorLight: '#f7f7f7', // default: '#fff'
        saveInCookies: false, // default: true,
        autoMatchOsTheme: true // default: true
    }).showWidget();

    function addDarkmodeWidget(){
        // 自动调用夜间模式
        const hours = new Date().getHours();
        // if (hours >= 19 || hours <= 5){
        new Darkmode({
            right: '32px', // default: '32px'
            bottom: 'unset', // default: '32px'
            // left: '32px', // default: 'unset'
            time: '0.3s', // default: '0.3s'
            mixColor: '#f7f7f7', // default: '#fff'
            backgroundColor: '#f7f7f7', // default: '#fff'
            buttonColorDark: '#212121', // default: '#100f2c'
            buttonColorLight: '#f7f7f7', // default: '#fff'
            saveInCookies: false, // default: true,
            autoMatchOsTheme: true // default: true
        }).toggle();
        // }
    }
    // window.addEventListener('load', addDarkmodeWidget);
</script>

<!-- 启用数学公式 -->
{{ if .Site.Params.enableMathJax }}
{{ partial "mathjax.html" . }}
{{ end }}

{{ template "_internal/google_analytics_async.html" . }}



